Header, Footer {
    background: green;
    color: black;
}

Horizontal {
    background: #002200; /* dark green container */
}

SpellList {
    width: 40%;
    background: #002200;
    color: #00ff00;
    padding: 1;
}

SpellDetail {
    width: 60%;
    background: #001100;
    color: #00ff00;
    padding: 1;
}

